<mat-card>
  <mat-card-header layout="row">
    <mat-card-title>
      <span class="my-primary-text">{{ msg }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="generatorForm" novalidate>
      <div layout="row" style="margin-top: 3vh">
        <mat-form-field flex>
          <mat-label>Vendor</mat-label>
          <mat-select placeholder="Choose Employee" formControlName="employeeid">
            <mat-option *ngFor="let employee of vendors" [value]="employee">{{ employee.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedEmployee" layout="row">
        <mat-form-field flex>
          <mat-label>Product</mat-label>
          <mat-select placeholder="Choose Expense" formControlName="expenseid" (selectionChange)="onPickProduct($event)">
            <mat-option *ngFor="let expense of vendorProducts" [value]="expense">
              {{ expense.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <br />
      <div *ngIf="pickedEmployee" layout="row">
        <mat-form-field flex>
          <mat-label>Quantity</mat-label>
          <mat-select placeholder="Choose Expense" formControlName="qtyControl" (change)="onPickExpense()">
            <mat-option *ngFor="let number of numberArray" [value]="qty">
              {{ number }}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>

      <br>
      <div style="text-align: center" *ngIf="hasExpenses">
        <button mat-raised-button color="primary" (click)="onPickExpense()" style="margin-top: 3vh">
          Add Product
        </button>
      </div>
      <br>
      <div *ngIf="hasExpenses" class="row">
        <table>
          <tr>
            <th colspan="3" class="pad-xs text-center md-subhead my-primary-text"
              style="font-weight: bold; padding: 2vh">
              Expense Items for {{ selectedVendor.name }}
            </th>
          </tr>
          <tr style="font-weight: bold; background-color: #eeeeee">
            <td style="
  text-align: center;
 width: 20vw;
  padding-top: 2vh;
 padding-bottom: 2vh;
  ">
              Incurred
            </td>
            <td style="
  text-align: center;
  width: 60vw;
 padding-top: 2vh;
  padding-bottom: 2vh;
  ">
              Description
            </td>
            <td style="
  text-align: center;
  width: 20vw;
 padding-top: 2vh;
  padding-bottom: 2vh;
  ">
              Amount
            </td>
          </tr>
          <tr *ngFor="let item of selectedProducts">
            <td class="text-left" style="padding-top: 1vh; padding-bottom: 1vh">
              {{ item.id }}
            </td>
            <td width="700" class="text-left" style="padding-top: 1vh; padding-bottom: 1vh">
              {{ item.name }}
            </td>
            <td style="padding-top: 1vh; padding-bottom: 1vh; text-align: right">
              {{ item.costprice | currency : "USD" : "symbol" : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right">Total:</td>
            <td class="my-accent-text" style="font-weight: 600; text-align: right">
              {{ total | currency : "USD" : "symbol" : "1.2-2" }}
            </td>
          </tr>
        </table>
      </div>
      <div style="text-align: center" *ngIf="hasExpenses">
        <button mat-raised-button color="primary" (click)="createReport()" style="margin-top: 3vh">
          Save Report
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
