<mat-toolbar color="primary">
  <span>CaseStudy - Vendors</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-button [mat-menu-trigger-for]="appMenu" mat-button align="red"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']" (click)="setTitle('Home')">Home</a>
  <a mat-menu-item [routerLink]="['vendors']" (click)="setTitle('Vendors')">Vendors</a>
  <a mat-menu-item [routerLink]="['products']" (click)="setTitle('Products')">Products</a>
  <a mat-menu-item [routerLink]="['generator']" (click)="setTitle('Generator')">Generator</a>

</mat-menu>
<router-outlet></router-outlet>
